<div class="row">
    Show <input type="checkbox" [(ngModel)]="showMe" />
</div>

<p *ngIf="showMe">
    ShowMe is checked
</p>
<p *ngIf="!showMe">
    ShowMe is unchecked
</p>
<p *ngIf="showMe; else elseBlock1">
    ShowMe is checked11111
</p>

<ng-template #elseBlock1>
    <p>ShowMe is unchecked Using elseBlock</p>
</ng-template>

<p *ngIf="showMe; then thenBlock2 else elseBlock">
    This is not rendered
</p>
<ng-template #thenBlock2>
    <p>ShowMe is checked Using thenblock</p>
</ng-template>

<ng-template #elseBlock>
    <p>ShowMe is unchecked Using elseBlock</p>
</ng-template>

<p [hidden]="showMe">
    content to render, when the condition is true  using hidden property binding
</p>

<p [hidden]="!showMe">
    content to render, when the condition is false. using hidden property binding
</p>