
<div *ngIf="show">
    <app-http></app-http>
</div>

<p>post works!</p>
<span *ngIf="loading">
    loading...
</span>
<input type="text" [(ngModel)]="nameSearch" /><br />
<button (click)="getlistPerson()">Search</button>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody *ngIf="personList">
        <tr *ngFor="let person of personList">
            <td><a class="nav-link" routerLinkActive="active" [routerLink]="['/post', person.id]">{{person.id}}</a></td>
            <td><a class="nav-link" routerLinkActive="active" [routerLink]="['/post', person.id]">{{person.name}}</a></td>
        </tr>
    </tbody>
    <tbody *ngIf="!personList">
        No data found.
    </tbody>
</table>

<span *ngIf="errorMessage">
    {{errorMessage.message}}
</span>

